<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo logo">
      <img class="logo__img" src="img/logo.svg" alt="logo" />
      <span class="logo__title">Global</span>
    </a>

    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item nav__item-active">
          <a href="#">Mobile Top Up</a>
        </li>
        <li class="nav__item">
          <a href="#">About</a>
        </li>
        <li class="nav__item">
          <a href="#">Rate</a>
        </li>
        <li class="nav__item">
          <a href="#">Help</a>
        </li>
      </ul>
    </nav>

    <div class="header__btns">
      <button class="btn-reset btn-green">Sign Up</button>
      <div class="burger">
        <div class="burger__line"></div>
      </div>
    </div>
  </div>
</header>
