<section class="hero">
  <div class="hero__container container">
    <div class="row">
      <h1 class="hero__title">
        Now Buy Your PIN or
        <span>Top Up</span>
        <b>With Bank Transfer</b>
      </h1>
      <p class="hero__descr"></p>

      <a href="#" class="btn-reset hero__btn btn-green">Get Started</a>

      <div class="hero__search search">
        <form action="#" name="search">
          <input
            name="searchInput"
            class="search__input"
            minlength="4"
            maxlength="12"
            type="search"
            placeholder="Where do you want to call?"
          />
          <span class="error"></span>
          <button type="submit" class="btn-reset btn-green search__btn">
            <img src="img/svg/search.svg" alt="search" />
          </button>
        </form>
      </div>

      <div class="hero__users users">
        <ul class="users__list">
          <li class="users__item">
            <img width="38" src="img/user1.png" alt="user1" />
          </li>
          <li class="users__item">
            <img src="img/user2.png" alt="user1" />
          </li>
          <li class="users__item">
            <img src="img/user3.png" alt="user1" />
          </li>
          <li class="users__item users__item-plus">
            <img src="img/svg/plus.svg" alt="add" />
          </li>
        </ul>

        <p class="users__text">
          45k+ Regular User. <a href="#">View Price Plan</a>
        </p>
      </div>
    </div>

    <div class="row animation">
      <div class="animation__circle">
        <ul class="animation__list"></ul>
        <div class="animation__bg"></div>
        <div class="animation__img">
          <picture>
            <source srcset="img/hero.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/hero.png"
              class="image"
              width="836"
              alt="girl"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
